@charset "UTF-8";
.reat-time-data {
  background-color: white;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.5, 0.86, 0.57, 1.14);
  width: 85%;
  max-width: 600px;
  max-height: 90%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.314);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  scrollbar-color: rgba(0, 0, 0, 0.6) transparent;
}
.reat-time-data .warn {
  font-size: 10px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
}
.reat-time-data.view {
  transform: translate(-50%, -50%);
  top: 50%;
}
.reat-time-data .now-back-button {
  width: 60px;
  height: 60px;
  position: relative;
  padding-top: 1em;
  padding-right: 2em;
  cursor: pointer;
}
.reat-time-data .now-back-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  width: 40px;
  height: 6px;
  display: block;
  transform-origin: 0 0;
}
.reat-time-data .now-back-button span:nth-child(1) {
  transform: rotate(45deg) translate(-50%, -50%);
}
.reat-time-data .now-back-button span:nth-child(2) {
  transform: rotate(135deg) translate(-50%, -50%);
}
.reat-time-data .title {
  text-align: center;
  margin-top: 0.8em;
  width: 60%;
}
.reat-time-data .title p {
  display: inline;
  font-size: 32px;
  font-family: "Line-Font-Eb";
}
.reat-time-data .title p:nth-child(2) {
  color: #569CD6;
}
.reat-time-data .title p:nth-child(1) {
  color: #DA70D6;
}
.reat-time-data .title p:nth-child(3) {
  color: #FFD602;
}
.reat-time-data .sub-title {
  color: rgba(0, 0, 0, 0.9);
  font-size: 22px;
  border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
  -o-border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
     border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
  border-image-slice: 1; /* 全体を使う */
  line-height: 120%;
  font-family: "Line-Font-Eb";
  width: 80%;
  margin: 0.3em auto 0.5em auto;
}
.reat-time-data ul.data {
  width: 80%;
  margin: 0 auto 1em auto;
  color: rgba(0, 0, 0, 0.9);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.reat-time-data ul.data li.datum {
  width: 50%;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 0.8em;
}
.reat-time-data ul.data li.datum .datum-name {
  position: relative;
  font-size: 22px;
  width: 90%;
  text-align: start;
  font-family: "Line-Font-Eb";
  margin-bottom: 0.3em;
  border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
  -o-border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
     border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
  border-image-slice: 1; /* 全体を使う */
}
.reat-time-data ul.data li.datum .datum-score {
  width: 90%;
  font-size: 22px;
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: "Line-Font-Eb";
  padding: 0.1em 0;
}
.reat-time-data ul.data li.datum .datum-unit {
  width: 90%;
  font-size: 18px;
  font-family: "Line-Font-Eb";
  text-align: end;
}
.reat-time-data ul.data .message-title {
  font-size: 20px;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: "Line-Font-Eb";
  padding: 0.2em 0.8em;
}
.reat-time-data ul.data .message-title a {
  color: #569CD6;
  font-family: "Line-Font-Eb";
}
.reat-time-data ul.data .message-sub-title {
  width: 100%;
  padding: 0.2em;
  text-align: end;
  font-family: "Line-Font-Eb";
  font-size: 16px;
}
.reat-time-data ul.data .busy-title {
  position: relative;
  display: inline;
  margin-top: 0.3em;
  width: 100%;
  font-size: 22px;
  font-family: "Line-Font-Eb";
  border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
  -o-border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
     border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
  border-image-slice: 1; /* 全体を使う */
  margin-bottom: 0.2em;
}
.reat-time-data ul.data .busy-title p {
  font-family: "Line-Font-Eb";
  display: inline;
}
.reat-time-data ul.data .busy-title.high p {
  color: #DA70D6;
}
.reat-time-data ul.data .busy-title.low p {
  color: #569CD6;
}
.reat-time-data ul.data .busy-title.mid p {
  color: #FFD602;
}
.reat-time-data ul.data .busy-title.max p {
  background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reat-time-data ul.data img.busy_level {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .reat-time-data .warn {
    font-size: 16px;
  }
  .reat-time-data .title {
    text-align: start;
    padding-left: 4em;
  }
  .reat-time-data .title p {
    font-size: 48px;
  }
  .reat-time-data .now-back-button {
    padding-top: 1.5em;
    margin-right: 1em;
    width: 80px;
    height: 80px;
  }
  .reat-time-data .now-back-button span {
    width: 55px;
    height: 5px;
    padding-top: 0.2em;
  }
  .reat-time-data .sub-title {
    font-size: 36px;
  }
  .reat-time-data ul.data li.datum .datum-name {
    font-size: 36px;
  }
  .reat-time-data ul.data li.datum .datum-score {
    font-size: 36px;
  }
  .reat-time-data ul.data li.datum .datum-unit {
    font-size: 32px;
  }
  .reat-time-data ul.data .busy-title {
    font-size: 36px;
  }
  .reat-time-data ul.data .message-title {
    font-size: 36px;
  }
  .reat-time-data ul.data .message-sub-title {
    font-size: 28px;
  }
}/*# sourceMappingURL=now.css.map */