.reat-time-data {
    background-color: white;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: all .8s;
    transition-timing-function: cubic-bezier(0.5, 0.86, 0.57, 1.14);
    width: 85%;
    max-width: 600px;
    max-height: 90%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.314);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.6) transparent;

    & .warn {
        font-size: 10px;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 1em;
    }
    &.view {    
        transform: translate(-50%, -50%);
        top: 50%;
        
    }

    & .now-back-button {
        // width: 50%;
        width: 60px;
        height: 60px;
        position: relative;
        padding-top: 1em;
        padding-right: 2em;
        cursor: pointer;
        & span {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: rgba(0, 0, 0, 0.9);
            width: 40px;
            height: 6px;
            display: block;
            transform-origin: 0 0;

            &:nth-child(1) {
                transform: rotate(45deg) translate(-50%, -50%);
            }
            &:nth-child(2) {
                transform: rotate(135deg) translate(-50%, -50%); 
            }
        }
    }
    & .title {
        text-align: center;
        margin-top:.8em;
        width: 60%;
        & p {
            display: inline;
            font-size: 32px;
            font-family: "Line-Font-Eb";
        }
        & p:nth-child(2) {
        color: #569CD6;
        }
        & p:nth-child(1) {
        color: #DA70D6;
        }
        & p:nth-child(3) {
        color: #FFD602;
        }
      
    }

    & .sub-title {
        color: rgba(0, 0, 0, 0.9);
        font-size: 22px;
        border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
        border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
        border-image-slice: 1; /* 全体を使う */
        line-height: 120%;
        font-family: "Line-Font-Eb";
        width: 80%;
        margin: .3em auto .5em auto;
    }

    & ul.data {
        width: 80%;
        margin: 0 auto 1em auto;
        color: rgba(0, 0, 0, 0.9);
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        & li.datum {
            width: 50%;
            // display: flex;
            flex-wrap: wrap;
            text-align: center;
            margin-top: .8em;

            &.long {
                width: 100%;
                & .datum-name {
                    border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
                    border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                    border-image-slice: 1; /* 全体を使う */
                }

                & .sleep {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    // justify-content: space-between;
                    & .datum-score {
                        width: 15%;
                        display: inline;
                        padding: .1em .5em;
                    }
    
                    & .datum-unit { 
                        width: 20%;
                        margin: .2em;
                        text-align: start;
                        transform: translateY(20%);
    
                    }
                }

            }
            & .datum-name {
                position: relative;
                font-size: 22px;
                width: 90%;
                text-align: start;
                font-family: "Line-Font-Eb";
                margin-bottom: .3em;
                
                // &::after {
                // content: "";
                // width: 2.3em;
                // height: .5em;
                // bottom: .3em;
                // left: -0.1em;
                // position: absolute;
                // background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                // z-index: -1;
                // }
                border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
                border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                border-image-slice: 1; /* 全体を使う */
            }
            
            & .datum-score {
                // margin-top: .8em;
                width: 90%;
                font-size: 22px;
                box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
                font-family: "Line-Font-Eb";
                padding: .1em 0;
                
            }
            
            & .datum-unit {
                width: 90%;
                font-size: 18px;
                font-family: "Line-Font-Eb";
                text-align: end;
                
            }

        }

        //予定と忙しさのデザイン
        & .message-title {
            font-size: 20px;
            width: fit-content;
            box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
            font-family: "Line-Font-Eb";
            padding: .2em .8em;
            & a {
                color: #569CD6;
                font-family: "Line-Font-Eb";
            }
        }
        
        & .message-sub-title {
            width: 100%;
            padding: .2em;
            text-align: end;
            font-family: "Line-Font-Eb";
            font-size: 16px;
        }
        
        & .busy-title {
            position: relative;
            display: inline;
            margin-top: .3em;
            width: 100%;
            font-size: 22px;
            font-family: "Line-Font-Eb";
            border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
            border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
            border-image-slice: 1; /* 全体を使う */
            margin-bottom: .2em;
            // &::after {
            //     content: "";
            //     width: 3.3em;
            //     height: .5em;
            //     bottom: .3em;
            //     left: -0.1em;
            //     position: absolute;
            //     background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
            //     z-index: -1;
            // }
            & p {
                font-family: "Line-Font-Eb";
                display: inline;
            }
            
            &.high {
                & p {
                    color: #DA70D6;
                }
            }
            &.low {
                & p {
                color: #569CD6;
                }
            }
            &.mid {
                & p {
                    color: #FFD602;
                }
            }

            &.max {
                & p {
                    background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        & img.busy_level {
            width: 100%;
            object-fit: cover;
            // margin-top: 1em;

        }

    }
}


//PCデザイン
@media screen and (min-width: 1000px) {
    .reat-time-data {

    & .warn {
        font-size: 16px;
    }
        & .title {
            text-align: start;
            padding-left: 4em;
            
            & p {
                font-size: 48px;
            
            }
          
        }

        & .now-back-button {
            padding-top: 1.5em;
            margin-right: 1em;
            width: 80px;
            height: 80px;
            & span {
                width: 55px;
                height: 5px;
                padding-top: .2em;

            }
        }
    
        & .sub-title {
            font-size: 36px;
        }
    
        & ul.data {
            & li.datum {

                & .datum-name {
                    font-size: 36px;

                }
                
                & .datum-score {
                    font-size: 36px;
                    
                    
                }
                
                & .datum-unit {
                    font-size: 32px;

                    
                }
    
            }
            & .busy-title {
                font-size: 36px;
            }

            & .message-title {
                font-size:36px;
            }
            & .message-sub-title {
                font-size: 28px;
            }

        }
    }
    
}