@font-face{ font-family: 'Line-Font-Eb'; src: url('/assets/fonts/LINESeedJP_OTF_Eb.woff') format('woff'); }


#twoD-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: all 1s;
    transition-delay: .2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    
    &.right {
        transform: translateX(100%);
        
    }
    
    &.down {
        transform: translateY(100%);

    }

    &.show {
        transform: none;
        opacity: 1;

    }

    &::-webkit-scrollbar {
        display: none;
    }

    & .back-button {
        position: fixed;
        // top: 3%;
        // right: 9%;
        background-color: rgba(255, 255, 255, 0.9);
        cursor: pointer;
        width: 90px;
        height: 90px;
        border-radius: 45px;
        box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
        z-index: 100;

        &.right {
            top: 8%;
            right: 3%;
        }


        & span {
            display: block;
            width: 70px;
            height: 8px;
            background-color: rgba(0, 0, 0, 0.9);
            transform-origin: center center;

            &:nth-child(1) {
                transform: translate(10px, 40px) rotateZ(45deg);
            }
            
            &:nth-child(2) {
                transform: translate(10px, 34px) rotateZ(-45deg);
            }
        }
    }

    & .title {
        color: white;
        font-size: 65px;
        width: 85%;
        margin: 0 auto;
        padding-top: .3em;
        font-family: "Line-Font-Eb";

        & p{
            font-family: "Line-Font-Eb";
            display: inline;
        }

        & p:nth-child(2) {
        color: #569CD6;
        }
        & p:nth-child(1) {
        color: #DA70D6;
        }
        & p:nth-child(3) {
        color: #FFD602;
        }
        & p:nth-child(5) {
        color: #569CD6;
        }
        & p:nth-child(4) {
        color: #DA70D6;
        }
        & p:nth-child(6) {
        color: #FFD602;
        }


        &.center {
            text-align: center;
            margin-top: .2em;
        }
        
        &.middle {
            font-size: 60px;
            padding-top: 0.4em;
            padding-left: 0.8em;
        }

    }

    & ul.works-list {
        width: 85%;
        margin: 0 auto;
        list-style: none;


        & li.works-item {
            margin-top: 1em;
            margin-bottom: 5em;

            & .more-button {
                text-decoration: none;
                width: fit-content;
                background-color: white;
                display: block;
                padding: .4em 1em;
                border-radius: 30px;
                margin-top: 1em;
                margin-bottom: 3em;
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
                transition: all .3s;

                &:hover {
                    box-shadow: none;
                    transform: scale(0.98);

                }


                &.second {
                    margin-bottom: 0;
                }

                & .text {
                    background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: "Line-Font-Eb";
                    font-size: 24px;

                }
            }


            & .vision {
                & div {
                    font-size: 80px;
                    font-family: "Line-Font-Eb";
                    line-height: 130%;
                }
                & .pink {
                    color: #DA70D6;
                }

                & .blue {
                    color: #569CD6;
                    text-align: center;
                    padding-right: .5em;
                }

                & .yellow {
                    color: #FFD602;
                    text-align: end;
                }
            }
            & .works-title {
                color: white;
                font-size: 50px;
                border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
                border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                border-image-slice: 1; /* 全体を使う */
                line-height: 120%;
                font-family: "Line-Font-Eb";

            }

            & .thumbnail {
                object-fit: cover;
                width: 100%;
                margin-top: 1em;
                border: solid 6px white;
                box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);

                &.face {
                    width: 80%;
                    display: block;
                    margin: 2em auto;
                    border-radius: 50%;
                }

            }

            & .description {
                color: white;
                font-size:20px;
                margin-top: .5em;

                &.name {
                    font-size: 24px;
                    font-family: "Line-Font-Eb";
                }

                & p.eb {
                    display: inline;
                    font-family: "Line-Font-Eb";
                    font-size: 28px;
                    background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                & p.vision-jp {
                    width: fit-content;
                    font-size: 40px;
                    background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: "Line-Font-Eb";
                }
            }

            & h3.used-techs {   
                color: white;
                font-size: 32px;
                font-family: "Line-Font-Eb";
                margin-top: 1.5em;

            }

            & .photo-gallery {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                & img {
                    object-fit: cover;
                    width: 47%;
                    margin-top: 2%;
                    // transition: all .3s;
                    // transition-timing-function: ease-in-out;
                    border: solid 6px white;
                    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
               

                    // &:hover {
                    //     transform: scale(1.05);
                    //     z-index: 10;
                    // }

                    &.large {
                        width: 98.5%;
                    }
                
                }
            }

            & ul.used-techs-list {
                list-style: none;
                // display: flex;
                // justify-content: space-around;
                flex-wrap: wrap;
                & li.used-techs-item {
                    margin-top: .4em;
                    color: white;
                    font-size: 24px;
                    & a {
                        font-size: 32px;
                        display: block;
                        color: white;
                    }
                }
            }

            & ul.achieves {
                // width: 85%;
                width: 100%;
                margin: 0 auto;
                padding-left: 1em;
                & li.achieve {
                    color: white;
                    font-size: 24px;

                    &.references {
                        // font-size: ;
                    }
                    & a {
                        margin-top: .5em;
                        font-size: 20px;
                        color: white;
                    }

                }
            }

            & ul.quote-list {
                padding-left: 1em;
                list-style: disc;
                color: white;
                font-size: 22px;
                & li.quote-item {
                    margin-top: 1em;
                    & .author {
                        font-size: 20px;
                        text-align: end;
                    }
                }
            }

            & .history-flow {
                position: relative;
                padding-top: 1em;
                padding-bottom: 2.5em;
                // z-index: -1;
                & .bar {
                    position: absolute;
                    background-color: white;
                    width: 530px;
                    height: 5px;
                    transform-origin: top left;
                    transform: rotate(90deg);
                    top: 20px;
                    left: 18px;
                }

                & .point {
                    & .point-title {
                        color: white;
                        font-size: 32px;
                        position: relative;
                        padding-left: 1.5em;
                        margin-top: .5em;
                        font-family: "Line-Font-Eb";

                        &::before {
                            content: "";
                            width: 30px;
                            height: 30px;
                            background-color: white;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            border-radius: 50px;
                        }
                        

                    }

                    & .point-sub-title {
                        color: white;
                        font-size: 20px;
                        padding-left: 2.5em;

                    }
                }
            }

            & .small-title {
                color: white;
                font-size: 28px;
                font-family: 'Line-Font-Eb';
                margin-top: 1em;
            }

            & .activity {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-top: 1em;
                margin-bottom: 3em;
                z-index: 1;
                & .image-wrapper {
                    width: 45%;
                    -moz-box-shadow: inset 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
                    -webkit-box-shadow: inset 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
                    box-shadow: inset 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
                    background-color: transparent;
                    
                    & img.activity-log {
                        position: relative;
                        object-fit: cover;
                        width: 100%;
                        z-index: -1;
                        vertical-align: bottom;
                        // box-shadow: inset 0px 0px 2px 10px rgba(0, 0, 0, 1);
    
    
                    }

                }

                & .activity-description {
                    width: 45%;
                    color: white;

                    & .activity-title {
                        display: block;
                        width: fit-content;
                        font-size: 28px;
                        background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-family: "Line-Font-Eb";
                    }

                }
            }

        }
    }

    & .footer {
        display: block;
        color: rgba(255, 255, 255, 0.7);
        font-family: "Line-Font-Eb";
        margin-bottom: 2em;
        text-align: center;
    }

    &.right {
        left: 60%;
    }

    &.down {
        width: 100%;
        height: 40%;
        top: 60%;
    }
}

//スマホデザイン
@media screen and (max-width: 1000px) {
    #twoD-content {
        width: 100%;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
        transform: none;
        &.right {
            transform: none;
        }
        &.down {
            transform: none;
        }

        & .back-button {
            z-index: 100;
            top: 3% !important;
            right: 5% !important;
            width: 50px;
            height: 50px;
    
            &.right {
                top: 0;
                right: 9%;
            }
    
    
            & span {
                width: 38px;
                height: 5px;
                &:nth-child(1) {
                    transform: translate(6px, 22px) rotateZ(45deg);
                }
                
                &:nth-child(2) {
                    transform: translate(6px, 18px) rotateZ(-45deg);
                }
                
            }
        }

        & .title {
            font-size: 40px;


            &.center {
                margin-top: 0;
                padding-left: 0;
            }
        }
        & ul.works-list {
            & li.works-item {

                & .more-button {
                    & .text {
                        font-size: 16px;
                    }
                }

                & .vision {
                    & div {
                        font-size: 48px;
                        font-family: "Line-Font-Eb";
                        line-height: 130%;
                    }
                    & .pink {
                        color: #DA70D6;
                    }
    
                    & .blue {
                        color: #569CD6;
                        text-align: center;
                        padding-right: .5em;
                    }
    
                    & .yellow {
                        color: #FFD602;
                        text-align: end;
                    }
                }
                & .works-title {
                    font-size: 32px;
                    // border-bottom: 3px solid linear-gradient(to right, yellow, red, purple);
                    border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
                    border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                    border-image-slice: 1; /* 全体を使う */
                }

                & img.thumbnail {
                    border: solid 3px white;

                }

                & .description {    
                    font-size: 14px;
                    &.name {
                        font-size: 18px;
                    }

                    & p.eb {
                        display: inline;
                        font-family: "Line-Font-Eb";
                        font-size: 18px;
                        background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    & p.vision-jp {
                        width: fit-content;
                        font-size: 24px;
                        background: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-family: "Line-Font-Eb";
                    }
                }

                & h3.used-techs {   
                    font-size: 24px;
                }

                & .photo-gallery {
                    & img {
                        width: 47%;
                        margin-top: 2%;
                        // transition: all .3s;
                        // transition-timing-function: ease-in-out;
                        border: solid 3px white;
                        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
                        &.large {
                            width: 98%;
                        }
                    }
                }

                & ul.used-techs-list {
                    & li.used-techs-item {
                        font-size: 16px;
                        & a {
                            font-size: 18px;
                        }
                    }
                }

                & ul.achieves {
                    margin-top: .5em;
                    & li.achieve {
                        font-size: 18px;


                    &.references {
                        font-size:14px;
                    }
                    & a {
                        font-size: 18px;
                        color: white;
                    }
                    }
                }

                & ul.quote-list {
                    font-size: 16px;
                    & li.quote-item {
                        margin-top: 1em;
                        & .author {
                            font-size: 14px;
                        }
                    }
                }

                & .history-flow {
                    margin-bottom: 4em;
                    & .bar {
                        width: 420px;
                    }

                    & .point {
                        // height: 110px;
                        & .point-title {
                            font-size: 20px;
                            margin-left: .3em;
                            &::before {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        & .point-sub-title {
                            font-size: 14px;

                        }
                    }
                }

                & .small-title {

                }

                & .activity {
                    position: relative;
                    // background: linear-gradient( - 210deg, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
                    flex-direction: column;
                    background-color: #ffffff;
                    margin-bottom: 1em;
 

                    &.reverse {
                        flex-direction: column-reverse;
                        margin-top: 2.5em;
                    }
                    & .image-wrapper {
                        width: 90%;
                        margin: 1em auto 0 auto;
                        
                        & img.activity-log {
                            position: relative;
                        }
                    }

                    & .activity-description {
                        margin: 1em auto;
                        width: 100%;
                        font-size: 14px;
                        width: 90%;
                        color: rgba(0, 0, 0, 0.8);
                        & .activity-title {

                            font-size: 20px;
                        }
                    }
                }

                
            }
        }

        & .footer {

        }
    }
}