@charset "UTF-8";
@font-face {
  font-family: "Line-Font-Eb";
  src: url("/assets/fonts/LINESeedJP_OTF_Eb.woff") format("woff");
}
#twoD-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: all 1s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  opacity: 0;
}
#twoD-content.right {
  transform: translateX(100%);
}
#twoD-content.down {
  transform: translateY(100%);
}
#twoD-content.show {
  transform: none;
  opacity: 1;
}
#twoD-content::-webkit-scrollbar {
  display: none;
}
#twoD-content .back-button {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
#twoD-content .back-button.right {
  top: 8%;
  right: 3%;
}
#twoD-content .back-button span {
  display: block;
  width: 70px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.9);
  transform-origin: center center;
}
#twoD-content .back-button span:nth-child(1) {
  transform: translate(10px, 40px) rotateZ(45deg);
}
#twoD-content .back-button span:nth-child(2) {
  transform: translate(10px, 34px) rotateZ(-45deg);
}
#twoD-content .title {
  color: white;
  font-size: 65px;
  width: 85%;
  margin: 0 auto;
  padding-top: 0.3em;
  font-family: "Line-Font-Eb";
}
#twoD-content .title p {
  font-family: "Line-Font-Eb";
  display: inline;
}
#twoD-content .title p:nth-child(1) {
  color: #569CD6;
}
#twoD-content .title p:nth-child(2) {
  color: #DA70D6;
}
#twoD-content .title p:nth-child(3) {
  color: #FFD602;
}
#twoD-content .title p:nth-child(4) {
  color: #569CD6;
}
#twoD-content .title p:nth-child(5) {
  color: #DA70D6;
}
#twoD-content .title p:nth-child(6) {
  color: #FFD602;
}
#twoD-content .title.center {
  text-align: center;
  margin-top: 0.2em;
}
#twoD-content .title.middle {
  font-size: 60px;
  padding-top: 0.4em;
  padding-left: 0.8em;
}
#twoD-content ul.works-list {
  width: 85%;
  margin: 0 auto;
  list-style: none;
}
#twoD-content ul.works-list li.works-item {
  margin-top: 1em;
  margin-bottom: 5em;
}
#twoD-content ul.works-list li.works-item .works-title {
  color: white;
  font-size: 50px;
  border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
  -o-border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
     border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
  border-image-slice: 1; /* 全体を使う */
  line-height: 120%;
  font-family: "Line-Font-Eb";
}
#twoD-content ul.works-list li.works-item img.thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-top: 1em;
  border: solid 6px white;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
}
#twoD-content ul.works-list li.works-item .description {
  color: white;
  font-size: 20px;
  margin-top: 0.5em;
}
#twoD-content ul.works-list li.works-item .description.name {
  font-size: 24px;
  font-family: "Line-Font-Eb";
}
#twoD-content ul.works-list li.works-item h3.used-techs {
  color: white;
  font-size: 32px;
  font-family: "Line-Font-Eb";
  margin-top: 0.8em;
}
#twoD-content ul.works-list li.works-item .photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#twoD-content ul.works-list li.works-item .photo-gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 47%;
  margin-top: 2%;
  border: solid 6px white;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
}
#twoD-content ul.works-list li.works-item .photo-gallery img.large {
  width: 98.5%;
}
#twoD-content ul.works-list li.works-item ul.used-techs-list {
  list-style: none;
  flex-wrap: wrap;
}
#twoD-content ul.works-list li.works-item ul.used-techs-list li.used-techs-item {
  margin-top: 0.4em;
  color: white;
  font-size: 24px;
}
#twoD-content ul.works-list li.works-item ul.used-techs-list li.used-techs-item img.techs-logo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 80px;
}
#twoD-content ul.works-list li.works-item ul.achieves {
  width: 100%;
  margin: 0 auto;
  padding-left: 1em;
}
#twoD-content ul.works-list li.works-item ul.achieves li.achieve {
  color: white;
  font-size: 24px;
}
#twoD-content ul.works-list li.works-item ul.achieves li.achieve a {
  margin-top: 0.5em;
  font-size: 20px;
  color: white;
}
#twoD-content ul.works-list li.works-item .history-flow {
  position: relative;
  padding-top: 1em;
  padding-bottom: 2.5em;
}
#twoD-content ul.works-list li.works-item .history-flow .bar {
  position: absolute;
  background-color: white;
  width: 500px;
  height: 5px;
  transform-origin: top left;
  transform: rotate(90deg);
  top: 20px;
  left: 18px;
}
#twoD-content ul.works-list li.works-item .history-flow .point .point-title {
  color: white;
  font-size: 32px;
  position: relative;
  padding-left: 1.5em;
  margin-top: 0.5em;
  font-family: "Line-Font-Eb";
}
#twoD-content ul.works-list li.works-item .history-flow .point .point-title::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50px;
}
#twoD-content ul.works-list li.works-item .history-flow .point .point-sub-title {
  color: white;
  font-size: 20px;
  padding-left: 2.5em;
}
#twoD-content ul.works-list li.works-item .small-title {
  color: white;
  font-size: 28px;
  font-family: "Line-Font-Eb";
  margin-top: 1em;
}
#twoD-content ul.works-list li.works-item .activity {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 3em;
  z-index: 1;
}
#twoD-content ul.works-list li.works-item .activity .image-wrapper {
  width: 45%;
  box-shadow: inset 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
#twoD-content ul.works-list li.works-item .activity .image-wrapper img.activity-log {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: -1;
  vertical-align: bottom;
}
#twoD-content ul.works-list li.works-item .activity .activity-description {
  width: 45%;
  color: white;
}
#twoD-content ul.works-list li.works-item .activity .activity-description .activity-title {
  font-size: 28px;
  color: white;
  font-family: "Line-Font-Eb";
}
#twoD-content .footer {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Line-Font-Eb";
  margin-bottom: 2em;
  text-align: center;
}
#twoD-content.right {
  left: 60%;
}
#twoD-content.down {
  width: 100%;
  height: 40%;
  top: 60%;
}

@media screen and (max-width: 1000px) {
  #twoD-content {
    width: 100%;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    transform: none;
  }
  #twoD-content.right {
    transform: none;
  }
  #twoD-content.down {
    transform: none;
  }
  #twoD-content .back-button {
    z-index: 100;
    top: 3% !important;
    right: 5% !important;
    width: 50px;
    height: 50px;
  }
  #twoD-content .back-button.right {
    top: 0;
    right: 9%;
  }
  #twoD-content .back-button span {
    width: 38px;
    height: 5px;
  }
  #twoD-content .back-button span:nth-child(1) {
    transform: translate(6px, 22px) rotateZ(45deg);
  }
  #twoD-content .back-button span:nth-child(2) {
    transform: translate(6px, 18px) rotateZ(-45deg);
  }
  #twoD-content .title {
    font-size: 40px;
  }
  #twoD-content .title.center {
    margin-top: 0;
    padding-left: 0;
  }
  #twoD-content ul.works-list li.works-item .works-title {
    font-size: 32px;
    border-bottom: 5px solid transparent; /* 幅を決めて透明にする */
    -o-border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
       border-image: linear-gradient(to right, #DA70D6 0%, #DA70D6 30%, #569CD6 35%, #569CD6 65%, #FFD602 70%, #FFD602 100%);
    border-image-slice: 1; /* 全体を使う */
  }
  #twoD-content ul.works-list li.works-item img.thumbnail {
    border: solid 3px white;
  }
  #twoD-content ul.works-list li.works-item .description {
    font-size: 16px;
  }
  #twoD-content ul.works-list li.works-item .description.name {
    font-size: 18px;
  }
  #twoD-content ul.works-list li.works-item h3.used-techs {
    font-size: 24px;
  }
  #twoD-content ul.works-list li.works-item .photo-gallery img {
    width: 47%;
    margin-top: 2%;
    border: solid 3px white;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  }
  #twoD-content ul.works-list li.works-item .photo-gallery img.large {
    width: 98%;
  }
  #twoD-content ul.works-list li.works-item ul.used-techs-list li.used-techs-item {
    font-size: 16px;
  }
  #twoD-content ul.works-list li.works-item ul.achieves {
    margin-top: 0.5em;
  }
  #twoD-content ul.works-list li.works-item ul.achieves li.achieve {
    font-size: 18px;
  }
  #twoD-content ul.works-list li.works-item ul.achieves li.achieve a {
    font-size: 18px;
    color: white;
  }
  #twoD-content ul.works-list li.works-item .history-flow {
    margin-bottom: 4em;
  }
  #twoD-content ul.works-list li.works-item .history-flow .bar {
    width: 450px;
  }
  #twoD-content ul.works-list li.works-item .history-flow .point .point-title {
    font-size: 20px;
    margin-left: 0.3em;
  }
  #twoD-content ul.works-list li.works-item .history-flow .point .point-title::before {
    width: 20px;
    height: 20px;
  }
  #twoD-content ul.works-list li.works-item .history-flow .point .point-sub-title {
    font-size: 14px;
  }
  #twoD-content ul.works-list li.works-item .activity {
    position: relative;
    flex-direction: column;
    background-color: rgba(227, 227, 227, 0.8901960784);
  }
  #twoD-content ul.works-list li.works-item .activity.reverse {
    flex-direction: column-reverse;
  }
  #twoD-content ul.works-list li.works-item .activity .image-wrapper {
    width: 90%;
    margin: 1em auto 0 auto;
  }
  #twoD-content ul.works-list li.works-item .activity .image-wrapper img.activity-log {
    position: relative;
  }
  #twoD-content ul.works-list li.works-item .activity .activity-description {
    margin: 1em auto;
    width: 100%;
    font-size: 16px;
    width: 90%;
    color: rgba(0, 0, 0, 0.8);
  }
  #twoD-content ul.works-list li.works-item .activity .activity-description .activity-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
  }
}/*# sourceMappingURL=works.css.map */